<div id="logo_icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.78 63.78">
        <g data-name="レイヤー 2">
            <g id="レイヤー_1-2" data-name="レイヤー 1">
                <g id="b">
                    <g id="c">
                        <polygon points="37.2 37.2 37.2 63.78 44.29 63.78 44.29 44.29 63.78 44.29 63.78 37.2 37.2 37.2" />
                        <rect x="37.2" width="7.09" height="12.4" />
                        <rect x="37.2" y="19.49" width="26.58" height="7.09" />
                        <polygon points="0 37.2 0 44.29 19.49 44.29 19.49 63.78 26.58 63.78 26.58 37.2 0 37.2" />
                        <polygon points="19.49 19.49 0 19.49 0 26.57 26.58 26.57 26.58 0 19.49 0 19.49 19.49" />
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>